
    .icon-search {
        background-image: url('/content/icon/search.png');
        background-repeat:no-repeat;
        background-position:16px center;
    }
.logoDate {
    cursor:pointer;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 8px;
    top: 6px;
}