.message{
    width: 120px;
    text-align: center;
    height: 35px;
    padding: 10px 16px;
    background-color: #F65454;
    font-size: 13px;
    z-index: 9999;
    color: #ffffff;
    border-radius: 4px;
    
}
.message::after{
    content: '';
    display: block;
    z-index: 9999;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    transform: rotate(45deg);
    background-color: #F65454;
    border: 1px solid #F65454;
}
/*.m-row .mssg {
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 289px;
}*/
#msg1 {
    top: 0px;
    left: 530px;
    z-index: 9999;
    position: absolute;
}
#msg2 {
    top: 109px;
    left: 280px;
    z-index: 9999;
    position: absolute;
}
#msg3 {
    top: 238px;
    left: 520px;
    z-index: 9999;
    position: absolute;
}
#msg4 {
    top: 240px;
    left: 285px;
    z-index: 9999;
    position: absolute;
}
#msg {
    top: 0px;
    left: 285px;
    z-index: 9999;
    position: absolute;
}