.m-btn {
    display:flex;
    align-items:center;
    border-radius: 4px;
    height: 40px;
    background-color: #019160;
    color: #ffffff;
    font-family:GoogleSans-Regular;
    padding-left:16px;
    padding-right:16px;
    outline:none;
    border:none;
    cursor:pointer;
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/content/font/GoogleSans-Regular.otf') format('opentype');
}
/*================page title content=======================*/
.m-btn .btn-text {
    margin-left: 8px;
}
.m-btn:hover {
    background-color: #2FBE8E;
}

.m-second-button {
    background-color:#ffffff;
    border-radius: 4px;
    height: 39px;
    font-size: 13px;
    color: #000000;
    text-align: center;
    padding-left:24px;
    padding-right:24px;
    outline:none;
    cursor:pointer;
    border:1px solid #bbbbbb;
}
    .m-second-button:hover{
        background-color:#e9ebee;
    }
.m-btn-refresh {
   
    background-image: url('/content/icon/refresh.png');
    background-repeat: no-repeat;
    height: 40px;
    background-position: center;
}
/*================ end page title content=======================*/