input {
    padding: 11px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    width:200px;
}
.input-search{
    padding-left:40px;
}
input::placeholder{
    font-size:12px;
}
.m-row input[type="date"] {
    padding: 9px 16px !important;
    color:#000000;
}
input:focus {
    border-color: #019160;
}
input.border-red {
    border-color: #FF4747;
}